<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Create Project" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2" [busy]="isSaving">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="card mb-0 mt-1">
            <div class="card-body">
              <form #createTasksForm="ngForm" (submit)="save()">
                <div class="row">
                  <div class="col-6 border-right">
                    <h3>Asna Information</h3>
                    <hr />
                    <div class="form-group">
                      <label for="sel1">Enter token</label>
                      <input required type="text" class="form-control" [(ngModel)]="projectDto.asanaToken" name="token"
                        id="" placeholder="enter token here">
                    </div>
                    <div class="form-group">
                      <label for="sel1">Select workspace</label>
                      <button [disabled]="!projectDto.asanaToken" type="button" (click)="refreshAsanaWorkspaces()"
                        class="btn btn-default" style="float: right;">Refresh</button>
                      <select required (change)="refrehAsanaTasks()" [(ngModel)]="projectDto.asanaWorkSpaceId"
                        name="asanaWorkspace" class="form-control" id="sel1">
                        <option *ngFor="let item of asanaWorkspaces" [value]="item.key">{{item.value}}</option>
                      </select>

                    </div>
                    <div class="form-group">
                      <label for="sel1">Select project</label>
                      <select required class="form-control" name="asanaProjects" [(ngModel)]="projectDto.asanaProjectId"
                        id="sel1">
                        <option *ngFor="let item of asanaProjects" [value]="item.key">{{item.value}}</option>
                      </select>
                    </div>
                    <div class="form-group row mb-0">
                      <div class="col-md-1">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="updateAsana" id="updateAsana"
                            [(ngModel)]="projectDto.updateAsana" />
                          <label class="custom-control-label mt-2" for="updateAsana"></label>
                        </div>
                      </div>
                      <label class="col-md-10 col-form-label">
                        {{ "UpdateAsana" | localize }}
                      </label>
                    </div>
                    <!-- <button (click)="save(false)" type="button" class="btn btn-primary">Sync project to DevOps</button> -->
                  </div>
                  <div class="col-6 border-left">
                    <h3>DevOps Information</h3>
                    <hr />
                    <div class="form-group">
                      <label for="sel1">Enter devOps token</label>
                      <input required type="text" class="form-control" [(ngModel)]="projectDto.devOpsToken"
                        name="devOpsToken" id="" placeholder="enter token here">
                    </div>

                    <div class="form-group">
                      <label for="sel1">Enter organization</label>
                      <input required type="text" class="form-control" [(ngModel)]="projectDto.devOpsOrganization"
                        name="organization" id="" placeholder="enter organization here">
                    </div>

                    <div class="form-group">
                      <label for="sel1">Select roject</label>
                      <button [disabled]="!projectDto.devOpsToken" type="button" (click)="refreshDevOpsProjects()"
                        class="btn btn-default" style="float: right;">Refresh</button>
                      <select required class="form-control" id="sel1" name="devOpsProjects"
                        [(ngModel)]="projectDto.devOpsProjectId">
                        <option *ngFor="let item of devopsProjects" [value]="item.key">{{item.value}}</option>
                      </select>
                    </div>

                    <div class="form-group row mb-0">
                      <div class="col-md-1">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="updateDevOps" id="updateDevOps"
                            [(ngModel)]="projectDto.updateDevOps" />
                          <label class="custom-control-label mt-2" for="updateDevOps"></label>
                        </div>
                      </div>
                      <label class="col-md-10 col-form-label">
                        {{ "UpdateDevOps" | localize }}
                      </label>

                    </div>

                  </div>
                  <div class="col-12">
                    <hr />
                    <div class="text-right">
                      <button type="button" class="btn btn-danger">Cancel</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
